//
// SVG Images with Fallback to PNG images
// modernizr class and Sass content inject for fallback code
//
@mixin no-svg {
  .no-svg & { @content }
}
// mixin that requires filename without path or extension and optional extension override
@mixin svg-bg($filename, $left, $top, $inline: false,  $extension: '.png') {
  @if $inline == true {
    background: inline-image($filename + '.svg') $left $top no-repeat;
  }
  @else {
    background: image-url($filename + '.svg') $left $top no-repeat;
  }
  @include no-svg {
    @if $inline == true {
      background: inline-image($filename + $extension) $left $top no-repeat;
    }
    @else {
      background: image-url($filename + $extension) $left $top no-repeat;
    }
  }
}

//Multicolumn automatic Zen grids
@media all and (min-width: 480px) {
	@for $zengrid from 1 through 4 {
		.zen-grid-#{$zengrid}col {
			$zen-column-count: $zengrid;
			@for $i from 1 through $zen-column-count {
				.zen-grid-#{$i} {
					@include zen-grid-item(1, $i);
					@if $i == 1 {
						@include zen-clear();
					}
				}
			}
		}
	}
}

//
// Gradients
//


//primary gradient
@mixin primary-gradient {
  background: $primary-color; //fallback
  @include background-image(linear-gradient($primary-color, tint($primary-color,50)));
}
@mixin secondary-gradient {
  background: $secondary-color; //fallback
  @include background-image(linear-gradient($secondary-color, tint($secondary-color,50)));
}
@mixin menu-gradient {
  background: $menu-color; //fallback
  @include background-image(linear-gradient($menu-color, tint($menu-color,50)));
}

//
// CSS Triangles
//
%arrow-box {
  width: 0; 
  height: 0; 
}
@mixin arrow-up ($arrow-size: 5px) {
  @extend %arrow-box;
	border-left: $arrow-size solid transparent;
	border-right: $arrow-size solid transparent;
	border-bottom: $arrow-size solid $primary-color;
}

@mixin arrow-down ($arrow-size: 5px) {
  @extend %arrow-box;
	border-left: $arrow-size solid transparent;
	border-right: $arrow-size solid transparent;
	border-top: $arrow-size solid $primary-color;
}
@mixin arrow-right ($arrow-size: 5px) {
  @extend %arrow-box;
	border-top: $arrow-size solid transparent;
	border-bottom: $arrow-size solid transparent;
	border-left: $arrow-size solid $primary-color;
}
@mixin arrow-left ($arrow-size: 5px) {
  @extend %arrow-box;
	border-top: $arrow-size solid transparent;
	border-bottom: $arrow-size solid transparent;
	border-right: $arrow-size solid $primary-color;
}
